extends base

block vars
  - var title = 'Home'

block body
  h1 UIC/ECE Authentication!
  p.
    Welcome to ECE's community homepage, to continue please
    <a href="/register">register</a> or <a href="/login">login</a> !
